In [ ]:
#Q.1 Write a code to reverse a string

In [ ]:
#Ans

In [ ]:
def reverse_string(s):
    return s[::-1]

input_string = "Hello, World"
reversed_string = reverse_string(input_string)
print(reversed_string)

dlroW ,olleH

In [ ]:
#Q.2 write a code to count the number of vowels in a string

In [ ]:
#Ans

In [ ]:
def count_vowels(s):
    vowels = "private limited"
    count = sum(1 for char in s if char in vowels)
    return count

input_string = "aadhi"
vowel_count = count_vowels(input_string)
print(f"Number of vowels: {vowel_count}")

Number of vowels: 4

In [ ]:
#Q.3 write a code to check if a given string is a palindrome or not

In [ ]:
#Ans

In [ ]:
def is_palindrome(s):

    normalized_str = ''.join(s.split()).lower()
    return normalized_str == normalized_str[::-1]

input_string = "A man a plan a canal Panama"
if is_palindrome(input_string):
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome.')

"A man a plan a canal Panama" is a palindrome.

In [ ]:
#Q.4 write a code to check if two given strings are anagrams of each other

In [ ]:
#Ans

In [ ]:
def are_anagrams(str1, str2):
    str1_normalized = ''.join(str1.split()).lower()
    str2_normalized = ''.join(str2.split()).lower()

    return sorted(str1_normalized) == sorted(str2_normalized)

string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f'"{string1}" and "{string2}" are anagrams.')
else:
    print(f'"{string1}" and "{string2}" are not anagrams.')

"Listen" and "Silent" are anagrams.

In [ ]:
#Q.5 write a code to find all occurrences of a given substrings within another string

In [ ]:
#Ans

In [ ]:
def find_all_occurrences(main_str, sub_str):
    occurrences = []
    start = 0

    while start < len(main_str):
        index = main_str.find(sub_str, start)

        if index == -1:
            break

        occurrences.append(index)
        start = index + 1

    return occurrences

main_string = "test string test test"
substring = "test"

occurrences = find_all_occurrences(main_string, substring)
print(f'Occurrences of "{substring}" in "{main_string}" are at indices: {occurrences}')

Occurrences of "test" in "test string test test" are at indices: [0, 12, 17]

In [ ]:
#Q.6 write a code to perform basic string compression using the counts repeated characters

In [ ]:
#Ans

In [ ]:
def compress_string(s):
    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    compressed.append(s[-1] + str(count))

    compressed_str = ''.join(compressed)

    return compressed_str if len(compressed_str) < len(s) else s

input_str = "aaabbccccddd"
compressed_str = compress_string(input_str)
print(f'Original string: {input_str}')
print(f'Compressed string: {compressed_str}')

Original string: aaabbccccddd
Compressed string: a3b2c4d3

In [ ]:
#Q.7 write a code to determine if a string has all unique character.

In [ ]:
def has_all_unique_characters(s):
    seen = set()
    for char in s:

        if char in seen:
            return False

        seen.add(char)
    return True

input_string = "hello"
print(has_all_unique_characters(input_string))

False

In [ ]:
def has_all_unique_characters(s):
    if len(s) > 128:
        return False

    char_set = [False] * 128
    for char in s:
        index = ord(char)
        if char_set[index]:
            return False
        char_set[index] = True
    return True

input_string = "world"
print(has_all_unique_characters(input_string))

True

In [ ]:
def has_all_unique_characters(s):
    sorted_str = sorted(s)
    for i in range(len(sorted_str) - 1):
        if sorted_str[i] == sorted_str[i + 1]:
            return False
    return True

input_string = "abcde"
print(has_all_unique_characters(input_string))

True

In [ ]:
#Q.8 write a code to convert a given string to uppercase or lowercase.

In [ ]:
# Ans

In [ ]:
def convert_string(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

input_string = "Hello, World!"

uppercase_string = convert_string(input_string, to_upper=True)
print(uppercase_string)

lowercase_string = convert_string(input_string, to_upper=False)
print(lowercase_string)

HELLO, WORLD!
hello, world!

In [ ]:
#Q.9  write a code to count the number of words in a string.

In [ ]:
#Ans

In [ ]:
def count_words(s):
    words = s.split()
    return len(words)

input_string = "Hello, how are you today?"
word_count = count_words(input_string)
print(f"Number of words: {word_count}")

Number of words: 5

In [ ]:
#Q .10 write a code to Concatenate two strings without using the + operator.

In [ ]:
#Ans

In [ ]:
def concatenate_strings(str1, str2):
    return ''.join([str1, str2])

string1 = "Hello, "
string2 = "World!"
result = concatenate_strings(string1, string2)
print(result)

Hello, World!

In [ ]:
def concatenate_strings(str1, str2):
    result = []
    result.append(str1)
    result.append(str2)
    return ''.join(result)

string1 = "Goodbye, "
string2 = "Everyone!"
result = concatenate_strings(string1, string2)
print(result)

Goodbye, Everyone!

In [ ]:
#Q.11 write a code to remove all occurrences of a specific element from a list.

In [ ]:
#Ans

In [ ]:
def remove_element(lst, element):
        return [item for item in lst if item != element]

my_list = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
result = remove_element(my_list, element_to_remove)
print(result)

[1, 3, 4, 5, 6]

In [ ]:
#Q.12 Implements a code to find the second largest number in a given list of integers

In [ ]:
#Ans

In [ ]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return None

    unique_numbers = list(set(numbers))
    unique_numbers.sort(reverse=True)

    if len(unique_numbers) < 2:
        return None

    return unique_numbers[1]


numbers = [12, 35, 1, 10, 34, 1]
second_largest = find_second_largest(numbers)
print("The second largest number is:", second_largest)

The second largest number is: 34

In [ ]:
#Q.13 create a code to count the occurrances of each elements in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
#Ans

In [ ]:
def count_occurrences(elements):
    counts = {}
    for element in elements:
        if element in counts:
            counts[element] += 1
        else:
            counts[element] = 1
    return counts

elements = [1, 2, 2, 3, 4, 4, 4, 5, 1, 3]
occurrences = count_occurrences(elements)
print("Element counts:", occurrences)

Element counts: {1: 2, 2: 2, 3: 2, 4: 3, 5: 1}

In [ ]:
#Q.14 write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
#Ans

In [ ]:
def reverse_list_in_place(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

lst = [1, 2, 3, 4, 5]
reverse_list_in_place(lst)
print("Reversed list:", lst)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
#Q.15 Implement a code to find and remove duplicate from a list while preserving the original order fo elements.

In [ ]:
#Ans

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for element in lst:
        if element not in seen:
            result.append(element)
            seen.add(element)

    return result

lst = [1, 2, 2, 3, 4, 4, 5, 1, 3]
unique_list = remove_duplicates(lst)
print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 4, 5]

In [ ]:
#Q.16 Create a code to check if a given list is sorted (either in ascending or descending order )or not .

In [ ]:
#Ans

In [ ]:
def is_sorted(lst):
    ascending = True
    descending = True


    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            ascending = False
            break
    for i in range(len(lst) - 1):
        if lst[i] < lst[i + 1]:
            descending = False
            break
    if ascending:
        return "List is sorted in ascending order."
    elif descending:
        return "List is sorted in descending order."
    else:
        return "List is not sorted."
lst1 = [1, 2, 3, 4, 5]
lst2 = [5, 4, 3, 2, 1]
lst3 = [3, 1, 4, 2, 5]

print(is_sorted(lst1))
print(is_sorted(lst2))
print(is_sorted(lst3))

List is sorted in ascending order.
List is sorted in descending order.
List is not sorted.

In [ ]:
#Q.17 Write a code to merge two sorted lists into a single sorted list.

In [ ]:
#Ans

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i = 0
    j = 0
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1
    return merged_list

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print("Merged sorted list:", merged_list)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Q.18 Implement a code to find the intersection of two given lists.

In [ ]:
#Ans

In [ ]:
def find_intersection(list1, list2):
    intersection = list(set(list1) & set(list2))
    return intersection
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = find_intersection(list1, list2)
print("Intersection of the lists:", intersection)

Intersection of the lists: [4, 5]

In [ ]:
def find_intersection(list1, list2):
    intersection = [item for item in list1 if item in list2]
    return intersection

In [ ]:
#Q.19 create a code to find the union of two list with out duplicates.

In [ ]:
#Ans

In [ ]:
def find_union(list1, list2):
    union = list(set(list1) | set(list2))
    return union
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union_list = find_union(list1, list2)
print("Union of the lists without duplicates:", union_list)

Union of the lists without duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def find_union(list1, list2):
    union = []
    for item in list1:
        if item not in union:
            union.append(item)
    for item in list2:
        if item not in union:
            union.append(item)
    return union

In [ ]:
# Q .20 write a code to shuffle a given list randomly without using any bult-in shuffle function.

In [ ]:
#Ans

In [ ]:
import random

def shuffle_list(lst):
    n = len(lst)
    for i in range(n):
        rand_index = random.randint(i, n-1)
        lst[i], lst[rand_index] = lst[rand_index], lst[i]
lst = [1, 2, 3, 4, 5]
shuffle_list(lst)
print("Shuffled list:", lst)

Shuffled list: [4, 1, 3, 5, 2]

In [ ]:
# Q.21 write a code that takes two tuples as input and returns a new tuple containing elements that are commom to both input tuples.

In [ ]:
#Ans

In [ ]:
def common_elements(tuple1, tuple2):
        common_set = set(tuple1) & set(tuple2)
        return tuple(common_set)
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

In [ ]:
#Q.22 create a code that prompts the user two enter two sets of integers seperated by commas.then,print the intersection of these two sets.

In [ ]:
#Ans

In [ ]:
def find_intersection():
    set1 = input("Enter the first set of integers (separated by commas): ")
    set2 = input("Enter the second set of integers (separated by commas): ")

    set1 = set(map(int, set1.split(',')))
    set2 = set(map(int, set2.split(',')))

    intersection = set1.intersection(set2)
    print("The intersection of the two sets is:", intersection)

find_intersection()

Enter the first set of integers (separated by commas): 1,2,3,4
Enter the second set of integers (separated by commas): 3,4,5,6
The intersection of the two sets is: {3, 4}

In [ ]:
#Q.23 write a code to concatenate two tuples.The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
#Ans

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Q.24 Develop a code that prompts the user to input two sets of strings.Then,print the elements that are present in the first set but not in the second set.

In [ ]:
#Ans

In [ ]:
def get_set_from_input(prompt):
        user_input = input(prompt)
        return set(user_input.split(','))

set1 = get_set_from_input("Enter the first set of strings (separated by commas): ")
set2 = get_set_from_input("Enter the second set of strings (separated by commas): ")

difference = set1 - set2

print("Elements present in the first set but not in the second set:", difference)

Enter the first set of strings (separated by commas): difference

In [ ]:
#Q.25 create a code that text a tuple and two integer as input.The function should return a new tuple containing element from the original tuple within that specified range of indices.

In [ ]:
def get_tuple_slice(original_tuple, start_index, end_index):

    if start_index < 0 or end_index > len(original_tuple) or start_index > end_index:
        return "Invalid index range."
    return original_tuple[start_index:end_index]

original_tuple = (10, 20, 30, 40, 50, 60)
start = 1
end = 4
result = get_tuple_slice(original_tuple, start, end)
print(f"Original Tuple: {original_tuple}")
print(f"New Tuple: {result}")

Original Tuple: (10, 20, 30, 40, 50, 60)
New Tuple: (20, 30, 40)

In [ ]:
# Q.26 write a code that promptes the user to input two sets of characters.Then,print the union of these two sets.

In [ ]:
def union_of_sets():

    set1_input = input("Enter the first set of characters (e.g., a b c): ")
    set2_input = input("Enter the second set of characters (e.g., d e f): ")

    set1 = set(set1_input.split())
    set2 = set(set2_input.split())

    union_set = set1.union(set2)

    print(f"The union of the two sets is: {union_set}")

union_of_sets()

Enter the first set of characters (e.g., a b c): a b c
Enter the second set of characters (e.g., d e f): c d e
The union of the two sets is: {'c', 'b', 'e', 'd', 'a'}

In [ ]:
#Q.27 Develope a code  that takes a tuple of integers as input.The fumnction should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def max_min_from_tuple(int_tuple):
    if not int_tuple:
        return "The tuple is empty."

    max_value = max(int_tuple)
    min_value = min(int_tuple)

    return max_value, min_value

input_tuple = (5, 10, 15, 3, 7, 1)
max_value, min_value = max_min_from_tuple(input_tuple)
print(f"Maximum value: {max_value}, Minimum value: {min_value}")

Maximum value: 15, Minimum value: 1

In [ ]:
#Q.28 Create a code that defines two sets of integers.Then ,print the union,intersection,and difference of these two sets.

In [ ]:
def set_operations():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}

    union_set = set1.union(set2)

    intersection_set = set1.intersection(set2)

    difference_set = set1.difference(set2)

    print(f"Set 1: {set1}")
    print(f"Set 2: {set2}")
    print(f"Union: {union_set}")
    print(f"Intersection: {intersection_set}")
    print(f"Difference (Set 1 - Set 2): {difference_set}")

set_operations()

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set 1 - Set 2): {1, 2, 3}

In [ ]:
#Q.29 Write a code that takes a tuple and an element as input.The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_element_in_tuple(input_tuple, element):
    count = input_tuple.count(element)
    return count

example_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
result = count_element_in_tuple(example_tuple, element_to_count)
print(f"The element {element_to_count} occurs {result} times in the tuple.")

The element 2 occurs 3 times in the tuple.

In [ ]:
#Q.30 Develop a code that prompts the user to input two sets of strings.Then,print the symmetric difference of these two sets.

In [ ]:
def symmetric_difference_of_sets():

    set1_input = input("Enter the first set of strings (separated by spaces): ")
    set2_input = input("Enter the second set of strings (separated by spaces): ")

    set1 = set(set1_input.split())
    set2 = set(set2_input.split())

    symmetric_difference = set1.symmetric_difference(set2)

    print(f"The symmetric difference of the two sets is: {symmetric_difference}")

symmetric_difference_of_sets()

Enter the first set of strings (separated by spaces): apple banana cherry
Enter the second set of strings (separated by spaces): banana cherry date
The symmetric difference of the two sets is: {'date', 'apple'}

In [ ]:
#Q.31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequencies(word_list):
    frequency_dict = {}

    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1

    return frequency_dict

words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
result = word_frequencies(words)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
#Q.32 Write a code that takes two dictionaries as input and merges them into a single dictionary.If there are common keys,the values should be added together.

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict

dict1 = {'a': 10, 'b': 5, 'c': 8}
dict2 = {'b': 7, 'c': 3, 'd': 12}

result = merge_dictionaries(dict1, dict2)
print(result)

{'a': 10, 'b': 12, 'c': 11, 'd': 12}

In [ ]:
#Q.33 write a code to access a value in nested dictionary.The function should take the dictionary and a list of keys as input,and return the corresponding value.If any of the keys do not exist in the dictionary,the function should return None.

In [ ]:
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}

keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))

keys = ['a', 'x', 'c']
print(get_nested_value(nested_dict, keys))

42
None

In [ ]:
#Q.34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values.You can choose whether to sort in ascending or descending order.

In [ ]:
def sort_dictionary_by_values(input_dict, ascending=True):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

my_dict = {'apple': 10, 'banana': 3, 'orange': 7, 'grape': 5}

ascending_sorted = sort_dictionary_by_values(my_dict, ascending=True)
print("Ascending:", ascending_sorted)

descending_sorted = sort_dictionary_by_values(my_dict, ascending=False)
print("Descending:", descending_sorted)

Ascending: {'banana': 3, 'grape': 5, 'orange': 7, 'apple': 10}
Descending: {'apple': 10, 'orange': 7, 'grape': 5, 'banana': 3}

In [ ]:
#Q.35 write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the  as a list in the inverted dictionary.

In [ ]:
def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

my_dict = {'apple': 1, 'banana': 2, 'grape': 1, 'orange': 3, 'pear': 2}

inverted = invert_dictionary(my_dict)
print(inverted)

{1: ['apple', 'grape'], 2: ['banana', 'pear'], 3: ['orange']}